.container{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: white;
    margin-top: 50px;
}

.para-container{
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    margin: 0;
    padding: 0;
}

button{
    margin: 20px;
    margin-bottom: 40px;
}

.form-container{
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input{
    width: 350px;
    height: 30px;
    margin-top: 5px;
}

span{
    font-family: 'Courier New', Courier, monospace;
}

progress{
    width: 350px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: lightgray;
}

button{
    width: 350px;
    height: 50px;
    background-color: #FFD700;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;

}

button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}